html, body {
  background: #fff !important;
  color: #111 !important;
}

.sidebar-nav {
  position: fixed;
  top: 100px;
  left: 0;
  width: 200px;
  padding-left: 1em;
  font-size: 1.1em;
  background: none;
  z-index: 10;
  margin-top: 4em; /* Abstand nach oben */
}
.sidebar-nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
.sidebar-nav li {
  margin-bottom: 1em;
}
.sidebar-nav a {
  color: #111;
  text-decoration: none;
  border-bottom: 1px solid #eee;
  transition: border-color 0.2s;
}
.sidebar-nav a:hover {
  border-bottom: 1px solid #21918c;
}
main {
  margin-top: 0;
}
@media (max-width: 900px) {
  .sidebar-nav {
    position: static;
    width: auto;
    padding: 0;
  }
  main {
    margin-left: 0;
  }
}

svg {
  max-width: 100vw;
  height: auto;
  display: block;
}

header {
  margin-bottom: 0;
}
header nav a {
  font-size: 1.3em;
}

footer {
  text-align: left;
  border-top: none;
}
footer p {
  margin-left: 0;
}