body {
  background-color: #fefefe;
  font-family: "Helvetica Neue", sans-serif;
}

nav a {
  margin-right: 10px;
  text-decoration: none;
  color: #0366d6;
}

nav a:hover {
  text-decoration: underline;
}
